{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <h3>Eventos: </h3>
    <div id="main--container"></div>

</div>
{% block javascripts %}
    <script>
        let ul = null;
        const es = new EventSource('http://localhost:3000/.well-known/mercure?topic=1e9');
        es.onmessage = e => {
            console.log(e.data);
            const data = JSON.parse(e.data);

            if (!ul) {
                ul = document.createElement('ul');

                const messages = document.getElementById('main--container');
                messages.innerHTML = '';
                messages.append(ul);
            }

            const li = document.createElement('li');
            li.append(document.createTextNode(data.headline));
            ul.append(li);
        }
    </script>
{% endblock %}

{% endblock %}
